@page
@model LudoGame.Pages.Forms.PlayerModel
@section Styles{
    <link rel="stylesheet" href="~/css/LudoSheet.css" />
}
@{
    ViewData["Title"] = "Your on going Game";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ludo game</h1>
</div>

<div class="game">
    <div class="house green">
        <div class="box">
            <div class="square square-one green"></div>
            <div class="square square-two green"></div>
            <div class="square square-three green"></div>
            <div class="square square-four green"></div>
        </div>
    </div>

    <div class="house yellow" style="right: 0">
        <div class="box">
            <div class="square square-one yellow"></div>
            <div class="square square-two yellow"></div>
            <div class="square square-three yellow"></div>
            <div class="square square-four yellow"></div>
        </div>
    </div>

    <div class="house red" style="bottom: 0">
        <div class="box">
            <div class="square square-one red"></div>
            <div class="square square-two red"></div>
            <div class="square square-three red"></div>
            <div class="square square-four red"></div>
        </div>
    </div>

    <div class="house blue" style="bottom: 0;right: 0">
        <div class="box">
            <div class="square square-one blue"></div>
            <div class="square square-two blue"></div>
            <div class="square square-three blue"></div>
            <div class="square square-four blue"></div>
        </div>
    </div>

    <div class="home"></div>
    <div class="cells  g-start" style="top: 40%;" id="26"></div>
    <div class="cells" style="top: 40%;left:6.66%;" id="27"></div>
    <div class="cells" style="top: 40%;left:13.32%;" id="28"></div>
    <div class="cells" style="top: 40%;left:19.98%;" id="29"></div>
    <div class="cells" style="top: 40%;left:26.64%;" id="30"></div>
    <div class="cells" style="top: 40%;left:33.3%;" id="31"></div>

    <div class="cells" style="top: 0;left:40%;" id="37"></div>
    <div class="cells" style="top: 6.66%;left:40%;" id="36"></div>
    <div class="cells" style="top: 13.32%;left:40%;" id="35"></div>
    <div class="cells" style="top: 19.98%;left:40%;" id="34"></div>
    <div class="cells" style="top: 26.64%;left:40%;" id="33"></div>
    <div class="cells" style="top: 33.3%;left:40%;" id="32"></div>

    <div class="cells" style="top: 0;left:46.66%;" id="38"></div>
    <div class="cells yellow" style="top: 6.66%;left:46.66%;"></div>
    <div class="cells yellow" style="top: 13.32%;left:46.66%;"></div>
    <div class="cells yellow" style="top: 19.98%;left:46.66%;"></div>
    <div class="cells yellow" style="top: 26.64%;left:46.66%;"></div>
    <div class="cells yellow" style="top: 33.3%;left:46.66%;"></div>

    <div class="cells y-start" style="top: 0;left:53.32%;" id="39"></div>
    <div class="cells" style="top: 6.66%;left:53.32%;" id="40"></div>
    <div class="cells" style="top: 13.32%;left:53.32%;" id="41"></div>
    <div class="cells" style="top: 19.98%;left:53.32%;" id="42"></div>
    <div class="cells" style="top: 26.64%;left:53.32%;" id="43"></div>
    <div class="cells" style="top: 33.3%;left:53.32%;" id="44"></div>

    <div class="cells" style="top: 40%; right: 33.3%" id="45"></div>
    <div class="cells" style="top: 40%;right:26.64%;" id="46"></div>
    <div class="cells" style="top: 40%;right:19.98%;" id="47"></div>
    <div class="cells" style="top: 40%;right:13.32%;" id="48"></div>
    <div class="cells" style="top: 40%;right:6.66%;" id="49"></div>
    <div class="cells" style="top: 40%;right:0;" id="50"></div>

    <div class="cells blue" style="top: 46.66%; right: 33.3%"></div>
    <div class="cells blue" style="top: 46.66%;right:26.64%;"></div>
    <div class="cells blue" style="top: 46.66%;right:19.98%;"></div>
    <div class="cells blue" style="top: 46.66%;right:13.32%;"></div>
    <div class="cells blue" style="top: 46.66%;right:6.66%;"></div>
    <div class="cells" style="top: 46.66%;right:0;" id="51"></div>

    <div class="cells" style="top: 53.32%; right: 33.3%" id="5"></div>
    <div class="cells" style="top: 53.32%;right:26.64%;" id="4"></div>
    <div class="cells" style="top: 53.32%;right:19.98%;" id="3"></div>
    <div class="cells" style="top: 53.32%;right:13.32%;" id="2"></div>
    <div class="cells" style="top: 53.32%;right:6.66%;" id="1"></div>
    <div class="cells b-start" style="top: 53.32%;right:0;" id="52"></div>

    <div class="cells" style="bottom: 0;left:53.32%;" id="11"></div>
    <div class="cells" style="bottom: 6.66%;left:53.32%;" id="10"></div>
    <div class="cells" style="bottom: 13.32%;left:53.32%;" id="9"></div>
    <div class="cells" style="bottom: 19.98%;left:53.32%;" id="8"></div>
    <div class="cells" style="bottom: 26.64%;left:53.32%;" id="7"></div>
    <div class="cells" style="bottom: 33.3%;left:53.32%;" id="6"></div>

    <div class="cells" style="bottom: 0;left:46.66%;" id="12"></div>
    <div class="cells red " style="bottom: 6.66%;left:46.66%;"></div>
    <div class="cells red" style="bottom: 13.32%;left:46.66%;"></div>
    <div class="cells red" style="bottom: 19.98%;left:46.66%;"></div>
    <div class="cells red" style="bottom: 26.64%;left:46.66%;"></div>
    <div class="cells red" style="bottom: 33.3%;left:46.66%;"></div>

    <div class="cells r-start" style="bottom: 0;left:40%;" id="13"></div>
    <div class="cells" style="bottom: 6.66%;left:40%;" id="14"></div>
    <div class="cells" style="bottom: 13.32%;left:40%;" id="15"></div>
    <div class="cells" style="bottom: 19.98%;left:40%;" id="16"></div>
    <div class="cells" style="bottom: 26.64%;left:40%;" id="17"></div>
    <div class="cells" style="bottom: 33.3%;left:40%;" id="18"></div>

    <div class="cells" style="top: 53.32%; left: 33.3%" id="19"></div>
    <div class="cells" style="top: 53.32%;left:26.64%;" id="20"></div>
    <div class="cells" style="top: 53.32%;left:19.98%;" id="21"></div>
    <div class="cells" style="top: 53.32%;left:13.32%;" id="22"></div>
    <div class="cells" style="top: 53.32%;left:6.66%;" id="23"></div>
    <div class="cells" style="top: 53.32%;left:0;" id="24"></div>

    <div class="cells green" style="top: 46.66%;left: 33.3%"></div>
    <div class="cells green" style="top: 46.66%;left:26.64%;"></div>
    <div class="cells green" style="top: 46.66%;left:19.98%;"></div>
    <div class="cells green" style="top: 46.66%;left:13.32%;"></div>
    <div class="cells green" style="top: 46.66%;left:6.66%;"></div>
    <div class="cells" style="top: 46.66%;left:0;" id="25"></div>


</div>
