@page
@model LudoGame.Pages.HistoryModel
@{
    ViewData["Title"] = "History";
}

<h1>@ViewData["Title"]</h1>



<form method="get">
   


</form>



@*<form method="post">
    <input type="text" asp-for="gameBoard.Id" placeholder="Id" />
    <input type="text" asp-for="gameBoard.StartTime" placeholder="Starttime" />
    <button type="submit"> submit </button>
</form>*@