@page
@model LudoGame.Pages.HistoryModel
@section Styles{
    <link rel="stylesheet" href="~/css/site.css" />
}
@{
    ViewData["Title"] = "History of games";
}

<body>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>



        @foreach (var item in Model.GameBoardHistory)
        {
            string url = $"https://localhost:44380/Forms/Player?id={item.UriId}";
            <p>Game started at @item.StartTime </p>
            <a href="@url">Go to game</a>
            foreach (var player in item.Players)
            {
                <p>@player</p>
            }
            <br />
        }
    </div>
</body>