@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ludo game</h1>
    <div>
       
            <div>
              <p>Enter you name</p>
              <form method="post">
                  <input type="text" asp-for="Players[0].Name" placeholder="Player one" />
                  <input type="text" asp-for="Players[1].Name" placeholder="Player two" />
                  <input type="text" asp-for="Players[2].Name" placeholder="Player tree" />
                  <input type="text" asp-for="Players[3].Name" placeholder="Player four" />
                  <button type="submit">Submit Post</button>
              </form>
            </div>

           </div>
    </div>
@*</div>*@
