@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ludo game</h1>
    <div>
        <form method="post">
            <label for="amount of players">Choose amount fo players </label>
            <select asp-for="AmountOfPlayers" required>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
