@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ludo game</h1>
    <div>
        @*<form method="post">
            <label for="amount of players">Choose amount fo players </label>
            <select asp-for="AmountOfPlayers" required>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
            </select>
            <button type="submit">Submit</button>
        </form>
        <div>*@
            <div>
              <p>Enter you Game</p>
              <form method="post">
               

                  <input type="text" asp-for="RedPlayer.Name" placeholder="Player one" />
                  <input type="text" asp-for="YellowPlayer.Name" placeholder="Player two" />
                  <input type="text" asp-for="GreenPlayer.Name" placeholder="Player tree" />
                  <input type="text" asp-for="BluePlayer.Name" placeholder="Player four" />
                  <button type="submit">Submit Post</button>
              </form>
            </div>

           </div>
    </div>
@*</div>*@
